.budget-container {
  h2 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.budget-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.budget-input input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.budget-list {
  text-align: left;
}

.budget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.delete-btn {
  background: rgba(255, 3, 3, 0.886);
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.progress-bar {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background: #28a745;
}
